<!DOCTYPE html>
<html>
<head>
    <title>Biblioteca</title>
</head>
<body>
    <h1>Bun venit la Biblioteca!</h1>
    <ul>
        <li><a href="{{ url_for('genuri') }}">Genuri</a></li>
        <li><a href="{{ url_for('autori') }}">Autori</a></li>
        <li><a href="{{ url_for('edituri') }}">Edituri</a></li>
        <li><a href="{{ url_for('carti') }}">Cărți</a></li>
        <li><a href="{{ url_for('exemplare') }}">Exemplare</a></li>
        <li><a href="{{ url_for('imprumuturi') }}">Împrumuturi</a></li>
        <li><a href="{{ url_for('cititori') }}">Cititori</a></li>
        <li><a href="{{ url_for('sali') }}">Săli</a></li>
    </ul>
</body>
</html>
